@charset "utf-8";
@import url("cw_designs.css");
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 3
   
   Author:   
   Date:      
   
   Filename: cw_styles.css

   This file contains the screen styles used with the 
   Cauli-Wood Gallery home page

*/


/* Import Basic Design Styles  */



/* ===============================
	General Styles for All Devices
   ===============================
*/
nav#bottom {
    height: 100%;
    -webkit-display: flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-flow: row wrap;
}



nav#bottom ul {
    max-width: 150px;
    flex: 1;
}

/* Basically what these lines of code do is make the bottom of the webpage set to a specific size. */

/* ===============================
	Mobile Styles up to 480 pixels
   ===============================
*/
@media only screen and (max-width: 480px) {
    body {
        color: rgb(211, 211, 211);
        background-color: rgb(51, 51, 51);
    }

    /* These lines of code setup the mobile version of the webpage and what I mean by this is that it formats the webpage to fit mobile devices and also it sets the background color of the mobile version of the webpage to a dark grey.  */

    aside,
    article img,
    section#spotlight {
        display: none;
    }

    /* This line of code makes it where you cant see the aside and article image in the mobile version of the website. */

    nav#top ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    /* These line of code make it where the images are displayed into 2 columns */

    nav#top ul li {
        font-size: 2.2em;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 130px;
    }

    /* These lines of code make it where the text on the images are the correct size to the set images. */

    nav#top ul li:nth-of-type(1) {
        background: url(cw_image01.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    nav#top ul li:nth-of-type(2) {
        background: url(cw_image02.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    nav#top ul li:nth-of-type(3) {
        background: url(cw_image03.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    nav#top ul li:nth-of-type(4) {
        background: url(cw_image04.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    nav#top ul li:nth-of-type(5) {
        background: url(cw_image05.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    nav#top ul li:nth-of-type(6) {
        background: url(cw_image06.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    /* All these lines of code just add the images to the webpage and also sets the images to the correct size and position.  */

    p#links {
        display: flex;
        flex-flow: wrap;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }

    /* These lines of code make the email and phone number be set in the correct position. */

    p#links a {
        color: white;
        background-color: rgb(220, 27, 27);
        border-radius: 20px;
        padding: 10px;
        text-decoration: none;
    }

    /* These lines of code add a border around the links also it makes the links have a reb background and white text. */

}




/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/
@media only screen and (min-width:481px) {
    body {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

    /* These lines of code just format the website to fix on a desktop display and also a tablets. */

    p#links {
        display: none;
    }

    /* This line of code just gets rid of the links that are the email and phone number. */

    article {
        -webkit-flex: 2 1 400px;
        flex: 2 1 400px;
    }

    aside {
        -webkit-flex: 1 2 200px;
        flex: 1 2 200px;
    }

    /* These lines of code move the images to the right side of the page. */

    nav#top ul {
        display: -webkit-flex;
        display: flex;
        background-color: rgb(51, 51, 51);
        height: 50px;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }

    nav#top ul li {
        -webkit-flex: 0 1 80px;
        flex: 0 1 80px;
    }

    /* Finally these lines of code make the links display at the top of the webpage and also pushes all of the webpage to the top so there is no empty space.  */



}